[2016-03-22 14:13] woutwoot opened #3 "ConnectException when unauthorized."
When I try to connect to my device on a new computer, I am greeted with a connection error when just using the following code:
[code]
Java ADB java.net.ConnectException: Connection refused: connect

I am not being prompted to allow access for this computer on my phone. When using adb separately first, and allowing access, jadb works. Is there a way jadb could ask for access first? This is on a Win

[2016-03-26 15:30] vidstige commented on #3
This is a great idea! It's mentioned briefly in the README.md, I'm quoting: "Make sure the adb server is running. You can start it by running adb once from the command line.". Making this work more smoothly out of the box, would require somewhat platform-specific details, but it would certainly be sweet.

[2016-03-29 04:27] vidstige commented on #3
The latest master tries to start adb either from path or `ANDROID_HOME` environment variable. Please try it out let me know if it works better for you.

[2016-03-29 04:27] #3 closed

[2016-05-10 10:19] SKART1 opened #11 "Add support for maven/gradle"
Please add maven/gradle support to you project to be able to use [https://jitpack.io] to add your project as dependencies to my own project

jadb/v1.0 build
Log https://jitpack.io/com/github/vidstige/jadb/v1.0/build.log

[2016-05-20 14:03] vidstige commented on #11
Great! :+1:  Can you make a pull request for this?

[2016-05-21 13:08] SKART1 commented on #11
Yep - this pull request add `pom.xml` - main file which describes structure and base steps of building project (see more in [maven pom](https://maven.apache.org/pom.html)) - actually it is taken from another fork and little bit refactored.

When building new version of you library you only need to increase version in this section:

[code]

[jitpack](https://jitpack.io) vorks a little bit different

[2016-05-21 13:26] vidstige commented on #11
Yeah, so this is an [issue](https://guides.github.com/features/issues/), please also make a [pull request](https://help.github.com/articles/using-pull-requests/), that way I can accept your code (and documentation) changes.

Suggestion to also edit `README.md` is a good idea, can you please also include this in the pull request?

[2016-05-23 14:39] SKART1 commented on #11
Updated. Pull-request is [here](https://github.com/vidstige/jadb/pull/13)

[2016-05-24 14:30] SKART1 commented on #11
Conflict resolved. Just fixed the same test case as was already fixed

[2016-05-24 16:55] vidstige commented on #11
Great, thanks for your contribution :+1:

[2016-05-24 16:55] #11 closed

[2016-06-03 01:00] ohtejera opened #14 "Incorrect references to contained artifacts on JitPack?"
I'm attempting to use jadb as a JitPack enabled dependency on a Maven project.
I have this on the POM file:

[code]

The message I get when trying to compile looks like this:

[code]

When I look at [JitPack](https://jitpack.io/#vidstige/jadb) in order to get the available version, I don't see the version **v1.1.**

Also I tried with the version **V1.0** but I get the same error:
[code]

Am I miss

[2016-06-03 07:42] adelolmo commented on #14
HI @ohtejera ,
You're not missing anything. The library has to be released to the version v.1.2 before support for maven is active.
Otherwise you should use a "tag" as version instead of a "release". The latest tag is "94ebf38".

[2016-06-03 11:40] ohtejera commented on #14
HI @adelolmo ,

Works like a charm.  Thank you.

[code]

Regards
Henry

[2016-06-03 11:40] #14 closed

[2016-07-20 13:46] SKART1 opened #15 "Java 8 source and target"
Java 1.8 has better performance and also have some cool stuff like lambdas. And according to latest [reports](http://zeroturnaround.com/rebellabs/java-tools-and-technologies-landscape-2016-trends/) java 1.8 already used in 62% of projects

[2016-07-20 14:03] SKART1 opened #16 "Remove IDE specific files"
In repo there is current a lot of files which may help sometimes to import project more easy in IDE, but sometimes they may cause errors in import. In my opinion pure pom.xml  is enough - it allows to import project in any IDE without problems.

Also changing this files make git diffs have garbage

[2016-07-20 14:10] SKART1 opened #17 "Support install options"
In [official documentation](https://developer.android.com/studio/command-line/shell.html#pm) there are a list of supported by `pm install` additional flags. Need to support them in code

[2016-07-21 14:05] vidstige commented on #17
Thanks for the feedback! There are lots of things pm can do, quite a lot of them not widely used. Anything in particular you're interested in?

[2016-07-21 14:14] SKART1 commented on #17
Concretely I am interested in "-g" flag which gives all **Manifset** permissions for new permission system on Android 6.X.

It is also may be important to know that this option is not "backward compability" and make adb daemon to deny installation.

I have made proto. Here is the [link](https://github.com/vidstige/jadb/compare/master...SKART1:IMP-2-install-options) to compare across forks

[2016-07-22 09:23] pijpijpij opened #18 "Getting the state of a device"
When getting the list of devices (with `JadbConnection.getDevices()`), ADB closes the connection (as per protocol), so the next call (to `JadbDevice.getState()`), fails with

    se.vidstige.jadb.JadbException: command failed: closed

	    at se.vidstige.jadb.Transport.verifyResponse(Transport.java:39)
	    at se.vidstige.jadb.JadbDevice.getState(JadbDevice.java:46)

That is also true with a devic

[2016-07-22 09:28] vidstige commented on #17
Looks great! I've only minor comments top of my head. It seems it requires Java 8 support as well, so I suspect you have a brach for that as well somewhere? Care to make a pr? :)

[2016-07-22 09:29] vidstige commented on #16
Which file are you referring to? The .intelij folder contains interesting information on how to build the project, I'm not sure if you can just open the pom file as is in IntelliJ, but I will try it out. If that works well, I'm all for removing the InteliJ files. The Eclipse files can go in any event.

[2016-07-22 09:31] vidstige commented on #18
Thanks for your feedback. This is probably a bug recently introduced, when fixing a bug where you could only transfer one file at a time. Will try to reproduce this bug.

[2016-07-22 09:32] vidstige commented on #15
I love Java 8, but opted to not use it for this project as the benefits are not _that_ great and it would just exclude people not being able to move to Java 8. However, as you point out, Java 8 is not more widely used. Perhaps it's time to make the switch.

[2016-07-22 09:37] pijpijpij commented on #18
Thanks. Here is a quick unit test that captures that behaviour:

      @Test
    public void test_jAdbRetrieveAnyDeviceStatus_failsBecauseClosed() throws Exception {
        startAdbServer();
        JadbDevice device = new JadbConnection().getAnyDevice();

        try {
            System.out.println(device.getSerial() + " status=" + device.getState());
        } catch(JadbException expected) {

[2016-07-22 09:38] pijpijpij commented on #18
Ooops, didn't mean to close this!

[2016-07-22 09:44] adelolmo commented on #16
Intellij is definitely able to create a project based on a pom.xml file.
I normally add the .idea directory to the .gitignore so it's never commited.

[2016-07-22 09:45] SKART1 commented on #15
I thought about this idea a little bit more yesterday and I inclining to resume using Java 1.7 for may be half a year or a year more. Because of:
 * 38% of users  is a big amount. Using java 1.8 will not allow them to use this great library.
 * As Android support only Java 1.7, and most of android developers are more comfort with this version of code  - it will be a little bit more difficult for t

[2016-07-22 09:49] SKART1 commented on #16
I am referring to whole `.idea` folder. I will check now if Idea can open project without this folder

 `.classpath` and `.project` - I am not sure (have not run eclipse for programming on Java for more than 2 years)

[2016-07-22 09:58] SKART1 commented on #17
I think I will revert back to Java 1.7 or stay on Java 1.8 depending on your decision in #15
There are only one little piece of code which uses new lambdas

[2016-07-22 10:16] vidstige commented on #15
Yes, I'm inclined to stay on 1.7 for some time as well. Let's do it like that. Hope it don't hurt your other branches too much. I checked through the install options changes and those should mostly be easy to go back to 1.7.

[2016-07-22 10:16] #15 closed

[2016-07-22 14:15] #18 closed

[2016-07-25 11:02] vidstige commented on #17
Feel free to put up pr if you wish to share your code.

[2016-07-25 11:35] SKART1 commented on #16
yes, intellij idea is able to open and import project with droped .idea folder

[2016-07-25 11:43] SKART1 commented on #17
Sorry, was on holidays =)
Soon I will downgrade code to java 1.7 and make a PR

[2016-07-25 16:25] vidstige commented on #17
Yeah, didn't mean to rush you or anything, sorry if it came across like that. I'm on holidays myself here. :-)

[2016-07-25 16:27] vidstige commented on #16
Hmm, I tried this myself and it would open, but it wouldn't build. Can't quite remember what the error message was. Can you open and build right of the bat? What version if IntelliJ are you running?

[2016-07-26 09:20] SKART1 opened #23 "Test failures"
Directory 'out' which was introduced in be4fa2279c0342fd4958fe2479925167e5e43ccc do not actually exist.
I think best way is to use JUnit [TemporaryFolder](http://junit.org/junit4/javadoc/4.12/org/junit/rules/TemporaryFolder.html) class

[2016-07-26 09:50] SKART1 commented on #16
I am using Linux - so sorry - no CMD/BAT. But I have executed in pure `bash` (which is actually similar to windows CMD) next commands

[code]

Which resulted in BUILD SUCCESS

P.S. I used my fork of repo becuase of #23 in upstream/master

[2016-07-26 10:11] SKART1 commented on #17
Never mind =)

I have recreated pull-request based on another branch not to mention empty commits

[2016-07-26 10:15] vidstige commented on #16
I'm on mac and can also use bash. The expression "right of the bat" means to be able to do something without extra work. I can also build from command line straight from checkout, however, when opening the jadb directory in [IntelliJ](https://www.jetbrains.com/idea/) it's not possible to build.

[2016-07-26 10:19] #17 closed

[2016-07-26 10:22] #23 closed

[2016-07-26 10:27] SKART1 commented on #16
Sorry, English is not my native language and I have understand "bat" as "BAT" files from windows. Nevertheless, will try similar scenario in Idea =)

[2016-07-26 16:52] vidstige opened #26 "Make maven part of travis build"
To make sure the Maven build keeps green, it would be great to have the maven build run as part of the travis build. This would catch problems such as the one caused by pull request #22

[2016-07-27 20:56] SKART1 commented on #26
Will try to deal with this issue soon

[2016-07-29 16:50] SKART1 commented on #26
First of all need to separate tests for `unit` and ` integration` because  travis do not have android device on board

[2016-07-29 16:55] SKART1 commented on #26
@vidstige [here](https://github.com/vidstige/jadb/compare/master...SKART1:IMP-26-maven-for-trabis?expand=1) is the cross-repo compare - it solves task of separating unit tests from integration tests

[2016-07-30 12:48] vidstige commented on #26
This is already handlet - You can see the log from latest master here: https://travis-ci.org/vidstige/jadb

As you can see travis picked up the pom.xml file and now builds only using maven. In the RealDeviceTest on line 40, there is a line that makes junit ignore all tests in that fixture if the setup cannot be performed.

[2016-07-30 12:49] #26 closed

[2016-07-30 12:49] vidstige commented on #16
Alright, so we can conclude for now that the .idea folder is needed then.

[2016-07-30 12:49] #16 closed

[2016-07-30 13:55] SKART1 commented on #26
I think it is not the best practice to mix unit tests and integration test - because:
1. Attaching real device to computer - which can be done accidentally  will result in changing test results
2. Unit tests are extremely quick in comparison to integration tests and may be used for TDD practice - as control that all is ok. If tests are mixed you will not be able see "regression"

So I Strongly pro

[2016-07-30 13:57] SKART1 commented on #16
Sorry, forgot to do actual test

[2016-07-30 16:10] vidstige commented on #26
Yeah, sure. But it's evidently not _needed_ for maven on travis as that's already working. ^^ I'll check cross fork diffs, but go ahead and make the pr. :+1:

[2016-07-30 16:11] vidstige commented on #16
np, I was just closing some stale issues. Feel free to reopen if you find it's not needed for smooth IntelliJ operation.

[2016-09-28 13:43] SKART1 opened #34 "Add `versions-maven-plugin`. Update plugins dependencies"
[versions-maven-plugin](http://www.mojohaus.org/versions-maven-plugin) is awesome versions plugin that handles the never ending version maintenance problem.

By adding this plugin it will be easily to check if there are new versions - both for dependencies and maven plugins themselves

[2016-09-28 14:41] SKART1 opened #36 "Separate unit tests from integration test 2.0"
#26 was not the best decision separating `unit` and `integration` test by hardcoded  package name.
This breaks Java feature of `package` visibility - which allows tests to use `package` visible methods and fields of application classes in test classes which have same package name

[2016-09-28 16:01] SKART1 opened #38 "Info about device. Shell command getprop"
Nevertheless it is just executing of shell command, it may be a very common case - for example determining OS version, language and so on

[2016-09-29 14:58] vidstige commented on #36
But only public classes/functions are ever tested by design. Which class would you like to test? Please explain a bit more about this "problem".

[2016-09-29 14:59] vidstige commented on #38
I don't understand what this is? Sounds great? Is it something that execute a particular shell command and parses the output? There is already code like this for example `PackageManager`, feel free to explain your use case a bit more and what kind of information you are looking for. Or push a few commits and make a pull request. :-)

[2016-09-30 12:30] SKART1 commented on #36
For example  - see this [cross-repository comparison](https://github.com/vidstige/jadb/compare/master...SKART1:IMP-38-getprop?expand=1) of #38.

Shortly - I want to implement `getprop` command of android device.

To make this feature testable I separated this functionality in 2 parts:
 * executing shell command
 * parsing `inputstream` as a result.

This allows to test most complicated part withou

[2016-09-30 14:09] vidstige commented on #36
I see, I think it would be a much cleaner solution to just mock the public interface. That way you test _behavior_ rather than _implementation_. The latter is less likely to change, and if it _does_ change you want to change the test. Pros:

* Calls the function exactly as a user of the library would.
* You can also assert what the actual command was, e.g. `getprop`
* No need to expose internal (d

[2016-09-30 14:10] vidstige commented on #36
Plan B - Just make the `getprop()` function public

[2016-09-30 14:10] #36 closed

[2016-10-01 17:09] #34 closed

[2016-10-04 08:24] #38 closed

[2016-12-16 23:17] TomOke opened #45 "Connection Refused on simple example"
I have been experiencing the Connection Refused, with the simple two-line example of:
JadbConnection jadb = new JadbConnection();
List<JadbDevice> devices = jadb.getDevices();

- This is on a Raspberry Pi3 in which if have installed the adb tools through apt-get and can access the android device through adb and get a shell
- I built jadb through the maven POM and included it's jar output as an ext

[2016-12-17 05:40] vidstige commented on #45
Hmm, interesting. Perhaps `adb` is not connecting to localhost at all. Or the adb-server is not running.

First make sure server is running by `adb start-server`. If it does help, please paste the output of the following

[code]

Also what version of jadb are you using?

[2016-12-17 12:46] ohtejera commented on #45
@TomOke

I think that the official adb compiled for ARM uses [Unix Socket](https://en.wikipedia.org/wiki/Unix_domain_socket) instead of TCP/IP Socket.

You can try with [this](http://forum.xda-developers.com/showpost.php?p=32632468&postcount=41) version of adb that use TCP Socket on ARM. You can get the adb binary [here](https://www.dropbox.com/s/yg5lwdoyf9kdsn5/adb?dl=0).

Regards.
Henry

[2016-12-18 05:34] TomOke commented on #45
That was the winner. It was using Unix sockets. I saw that netstat gave me a reference of /tmp/../5037, but did not know that that meant Unix sockets til I did not searching.

The supplied adb binary started a server that then worked perfectly for what I wanted. I an using jadb to access the device from a Java application.

Thanks very much.

[2016-12-18 08:39] vidstige commented on #45
@ohtejera thanks for resolving this

@TomOke glad you got it working! :-) Is there anything we can put in the README or elsewhere to make this easier to avoid for other people?

[2016-12-18 20:35] TomOke commented on #45
I would suspect that the best that could be said to those getting the "Connection Refused" is that it is possible that your adb is using Unix Sockets, rather than TCP/IP sockets.

A check could be:
1. does an ls of /tmp show: /tmp/5037 (or the port you get when you do adb start-server)
2. If you do not have adb running (like "adb shell") do you see: "netstat | grep 5037" returning anything.
3. If

[2016-12-19 08:27] vidstige commented on #45
I think the fix will be two fold.

1. Just update readme with relevant parts as supplied by you. (Could I ask you to make a pr? Just reuse your writeup above? You have great pedagogical skill.)
2. Use junixsocket or similar library. It would then require jini or some way of calling native. Therefore it would be create if transport layer could be injected so that you do not need external jini libs

[2016-12-19 19:26] vidstige commented on #45
After further looking into this, I don't think adding support for the JUDS library would be too time consuming.

[2016-12-19 23:07] TomOke commented on #45
That would certainly add to the flexibility of the utility and make it accessible to all. With the README update for people to recognize that they needed the JUDS jar if they see the connect error, and the possibility that jadb could recognize that it is in the UNIX sockets environment it would cover just about anything.

From: "notifications" <notifications@github.com>
To: "vidstige/jadb" <jadb@n

[2016-12-20 05:27] TomOke commented on #45
Just found: http://stackoverflow.com/questions/17638919/adb-not-running/37603398#37603398

This seems to have a resolution that would only require you to install socat and then run the command:
          socat TCP-LISTEN:5037,reuseaddr,fork UNIX-CONNECT:/tmp/5037

This seemed to do the trick for me so that it would handle both the Unix and the TCP/IP sockets and no code changes.

[2016-12-20 08:07] vidstige commented on #45
Perfect, thanks. I've updated the readme. See 0cb9550

[2016-12-20 08:56] SKART1 commented on #45
Why do not start adb server with TCP socket as transport layer instead of using `socat`?

[2016-12-20 20:33] TomOke commented on #45
I had tried to start the Adb that I installed into the Raspberry Pi in TCP/IP mode (at least the help doc indicated it should start in TCP/IP) and I got a Unix socket. The adb provided by @ohtejera resolved the starting on the Raspberry but we were looking for a more universal mechanism so that different platforms could be addressed. I am not sure which platforms you might get a Unix Socket on, wh

[2016-12-20 21:11] vidstige commented on #45
@SKART1 sounds like a great workaround. How do you start adb server in TCP mode?

[2016-12-20 21:16] SKART1 commented on #45
What distro have you used on Pi?
Was adb preinstalled?

There is `-P - Port of adb server (default: 5037)` flag which allows to specify on which TCP port actually to start
I am really surprised that adb is rewritten to use unix sockets instead of tcp...

[2016-12-21 04:55] TomOke commented on #45
I believe that the distro was a NOOBS install, with a 4.4.34-v7+ kernel.
The adb was installed through:
sudo apt-get install android-tools-adb

With this adb the following sequence results in a UNIX socket rather than the expected TCPIP socket.

pi@raspberrypi:~ $ adb kill-server
pi@raspberrypi:~ $ rm /tmp/5037
pi@raspberrypi:~ $ adb tcpip 5037
* daemon not running. starting it now on port 5037 *

[2016-12-21 09:38] SKART1 commented on #45
`sudo apt-get install android-tools-adb` - is not best place to get android sdk, because they are commonly extremely  old (as all soft in repositories), better to download  them directly from android website. You may take some ideas from this [Dockerfile](https://github.com/SKART1/docker-teamcity/blob/master/agent/Dockerfile) - just remove docker specific command after #android-sdk

Returning to y

[2016-12-21 09:40] SKART1 commented on #45
I have one idea - may be you are running adb daemon, adb server and adb client on same host?
May be unix socket is socket occupied by adb daemon as a resut of `adb tcpip 5037`?

Could you please `lsof -i | grep 5037`?

[2016-12-22 23:09] TomOke commented on #45
I am using 4.4.32-v7+ (probably from a NOOBS card) and installed the adb through apt-get. The command line that installed was:
sudo apt-get install android-tools-adb android-tools-fastboot

When I run this installed verson (renamed adb-unix) with the option to start a tcpip port, I end up getting a Unix port. The file /tmp/5037 was deleted prior to running this command and netstat indicates:

$ ad

[2016-12-22 23:13] TomOke commented on #45
I get:
$ lsof | grep 5037
adb-unix  7248              pi    5u     unix 0xb8873300      0t0      22312 /tmp/5037
adb-unix  7248              pi   11u     unix 0xadadd200      0t0      25974 /tmp/5037
adb-unix  7248 7249         pi    5u     unix 0xb8873300      0t0      22312 /tmp/5037
adb-unix  7248 7249         pi   11u     unix 0xadadd200      0t0      25974 /tmp/5037
adb-unix  7248 7251

[2016-12-23 08:49] vidstige commented on #45
Thanks for looking into this, if you got a few minutes over, please try out a later version of adb. It would be sweet to close this issue. :+1:

[2016-12-23 09:28] serezhka opened #46 "DeviceDetectionListener onDetect fires double times"
DeviceDetectionListener onDetect fires double times
![capture](https://cloud.githubusercontent.com/assets/476359/21450080/bded6e94-c904-11e6-8013-b2b376a582df.PNG)
Connecting device.. onDetect fires with 'device offline'
![capture111](https://cloud.githubusercontent.com/assets/476359/21450729/70188888-c90a-11e6-8be6-595c0cf323ec.PNG)
And then immediately onDetect fires second time with 'device onl

[2016-12-23 09:55] serezhka opened #47 "Transport class has default access modifier"
JadbConnection createTransport() is useless until [Transport](https://github.com/vidstige/jadb/blob/master/src/se/vidstige/jadb/Transport.java) class has default access modifier

[2016-12-23 10:53] SKART1 commented on #45
` adb-unix tcpip 5037` - actually starts adb daemon, not server!

Nevertheless it looks true that adb from ditro repositories starts adb server on unix sockets...

@vidstige you would like to put unix-socket implementation in this project? Be very attentive, cause I personally do not know good modern library for java....

[2016-12-23 16:13] TomOke commented on #45
I extracted the essentials to build the android sdk from the docker file, but it stumbled with ANDROID_SWT, which it expected to have as:

SWT folder '/opt/android-sdk-linux/tools/lib/arm' does not exist.
Please export ANDROID_SWT to point to the folder containing swt.jar for your platform.

And the downloaded hierarchy does not have such folder in tools/lib. Seems to be for an x86. I'll take a lo

[2016-12-23 18:24] SKART1 commented on #45
@TomOke  I hopy you are not building adb on raspberry? Cause it will take ages...

As @ohtejera proposed - use binary

If you want to build it by hand - do it on PC, it is real, but not trivial (I accidentally doing same now)

[2016-12-23 19:15] TomOke commented on #45
As noted above @ohtejera's adb binary had already worked for me. I was thinking of trying the other article's reference which seemed directed to the Raspberry.

Somethings it is actually fun to see how hard you can push a Raspberry Pi3, with its quad cores.
The linux distro is about an hour or so to build. I figure I could do the Android AOSP within a couple of days if it compares to the PCs I hav

[2016-12-23 21:06] SKART1 commented on #45
@TomOke you may try to download adb executable from [android site](https://dl.google.com/android/repository/tools_r25.2.3-linux.zipl)

It is not obligattory to build source code for some system on the same system! =)
It is sometimes easier, but not obligatory

Folder with source enough to build adb was 51 Gb on my machine (may be not minimum - I just downloaded practically all) and adb alone was b

[2017-01-10 13:09] vidstige commented on #45
Gentlemen I want to close this. Where did we end up? Do we need code and/or documentation changes? Or are we currently good? Note, for special cases this issue will be searchable by google.

[2017-01-10 13:11] SKART1 commented on #45
I think we may add some remark showing how to check if your adb server is running in UNIX socket mode - may be in FAQ or troubleshooting section of `README.md`

[2017-01-10 13:13] vidstige commented on #47
This is more a statement than a problem description. The Transport class is not supposed to be accessed outside package, that's why it has the [default visibility](https://docs.oracle.com/javase/tutorial/java/javaOO/accesscontrol.html).

[2017-01-10 13:13] #47 closed

[2017-01-10 13:17] vidstige commented on #46
Thanks for reporting the issue. Those events originate from the adb server, possibly even emitted by the on-device adb daemon. The library by itself does not emitt any extra events, but just forwards what it gets from the adb server. In this case the double events should normally be harmless. Are you having any specific issues?

[2017-01-10 13:17] vidstige commented on #46
Perhaps @Giemsa who implemented this can give some insight?

[2017-01-10 15:16] Giemsa commented on #46
Adb daemon emits two events when device is connected. AFAIK, the device state changes to `offline` first, but the device is not available. And then the device state changes to `online`, the device is available. This API just sends these events. I suppose you can ignore `offline` event.

[2017-01-10 19:16] vidstige commented on #45
@SKART1 I read through the thread, but still unsure on how to detect this? First start a shell and then do `lsof` seems like the best way to go, am I right?

[2017-01-15 18:00] SKART1 commented on #45
@vidstige - yes you are wright

I confirm that `raspbian`  installed via `noobs` raspberry pi utility has in its repositories package `android-tools-adb`.
This package has `android debug bridge` command which behaves differently than standard one from [develope.android.com](https://developer.android.com) - it uses Unix Domain Sockets instead of TCP sockets. It ignores flag `-a` when it starts. And

[2017-01-15 18:15] SKART1 commented on #45
[Here](https://packages.debian.org/ru/jessie/armhf/android-tools-adb/download) is our package

[2017-01-16 13:45] vidstige commented on #45
@SKART1 thanks for clarifying this. I'll try to get a hold of this guy. As for this issue, I'm closing it.

[2017-01-16 13:45] #45 closed

[2017-01-16 13:57] #46 closed

[2017-01-23 09:09] gokulpalanisamy opened #49 "Running ADB commands inside Android App"
I have requirement like i need to take a UI dump of each activity that appears on my android app to verify resource-id given is unique. I was thinking to use this adb command "adb pull uiautomator dump" and verify the same. So i created a java class in my android app, that uses jadb and it works fine when i run as java application.

But when i run my android app, i am calling the same class with t

[2017-01-23 09:18] SKART1 commented on #49
The reason of the error is that by default adb server listens only on 127.0.0.1  - listening connections only from same computer it is started. There is a solution for this problem - start adb server with `-a` flag

As for your approach - I think it is much logically to run such a command exactly on your android device via for example [ProcessBuilder](https://docs.oracle.com/javase/7/docs/api/java

[2017-01-23 09:39] gokulpalanisamy commented on #49
Earlier I tried ProcessBuilder, that did not work.
From the docs, i saw Make sure the adb server is running. You can start it by running adb once from the command line.
So i m doing adb start-server -a and i ran adb devices from my pc, it displayed my device
Now, i open android studio, and from my app code i create an object for my adb class which has the following code,
             jadb=new Jadb

[2017-01-26 11:01] vidstige commented on #49
Normally you should not run adb from within an android app. You can instead render your root view to file to get predictable and stable results. See more [here](http://stackoverflow.com/questions/2661536/how-to-programmatically-take-a-screenshot-in-android).

[2017-01-26 11:01] #49 closed

[2017-01-28 10:30] gdetra opened #50 "I can't get my devices"
Can you tell me how can i recognize my device with adb enabled?
i have tried getAnyDevice method but nothing to do.. help me please!!

[2017-01-28 11:44] SKART1 commented on #50
Can you provide more information about regime in which adb is started?

Does `adb devices` show anything?
Is it real device or emulator?
What OS are you using?

[2017-01-28 11:49] gdetra commented on #50
i'm under Windows. When i run `adb devices` command ,it returns me my device with serial code.
mine is real device.
this is the java code that i'm using:
`JadbConnection jadb = new JadbConnection();
		JadbDevice device = jadb.getAnyDevice();
		System.out.println(device.getSerial());
		System.out.println(device.getState());`

[2017-01-28 12:12] SKART1 commented on #50
Can you try `jadb.getDevices();` istead?

What are the error? NullPointerException - or just empty output

[2017-01-28 12:24] gdetra commented on #50
null
Exception in thread "main" java.net.ConnectException: Connection refused: connect
	at java.net.DualStackPlainSocketImpl.connect0(Native Method)
	at java.net.DualStackPlainSocketImpl.socketConnect(Unknown Source)
	at java.net.AbstractPlainSocketImpl.doConnect(Unknown Source)
	at java.net.AbstractPlainSocketImpl.connectToAddress(Unknown Source)
	at java.net.AbstractPlainSocketImpl.connect(Unkno

[2017-01-28 12:27] gdetra commented on #50
after `adb start-server` the exception is
`
null
Exception in thread "main" se.vidstige.jadb.JadbException: command failed: closed
	at se.vidstige.jadb.Transport.verifyResponse(Transport.java:39)
	at se.vidstige.jadb.JadbDevice.getState(JadbDevice.java:46)
	at DeviceClass.main(DeviceClass.java:19)
`

[2017-01-28 19:04] gdetra commented on #50
any solutions?

[2017-01-28 23:40] gdetra commented on #50
With getDevices() now i can get serial number, but for state i have the same exception

[2017-01-30 10:11] SKART1 commented on #50
Sorry I do not have windows host to test

You may try to debug actual response to determine what is the error

[2017-01-30 14:56] vidstige commented on #50
Interesting. The `getAnyDevice` addresses devices in a different way if I recall correctly. What is your adb version?

[2017-01-30 22:46] gdetra commented on #50
1.0.32 (adb version)

[2017-02-02 18:25] gdetra commented on #50
@vidstige any solutions?

[2017-02-03 13:26] vidstige commented on #50
@gdetra Alright, I've looked into this. I could not reproduce your problem with adb version 1.0.31 on Windows. Some question to help me troubleshoot this. I ran the `RealDeviceTestCases.testListFilesTwice()` test method and it works as expected. It calls the `JadbConnection.getAnyDevice()` method.

* Are you using the maven package or do you have the source checked out. If you have the code checke

[2017-02-04 12:00] gdetra commented on #50
i'm using maven package. I use Windows 10 anniverasy update (Surface pro 4). My phone is a Xiaomi mi5.
i haven't trying with another device. i'm trying with `testListFilesTwice()`

[2017-02-05 15:53] gdetra commented on #50
@vidstige even with adb version 1.0.31 i have the same exception. How can i use realDeviceTestCases?

[2017-02-06 12:33] vidstige commented on #50
Hmm, that worked for me. The device _should_ not matter in this case. Very strange indeed. It works on my Windows machine as I wrote before. Some more things you could try to help me get more information on this:

* Can you try with an emulator? How does that work?
* Check the adb daemon log (somewhere on the device) for any errors during this exception.

[2017-02-09 16:35] gdetra commented on #50
i have tried with an emulator and the result is the same. Can you tell me , @vidstige , how can i get this log? i have tried in tmp folder but i haven't found nothing. Help me please!

[2017-02-09 19:58] vidstige commented on #50
What version of _jadb_ are you using? Can you try checking out latest master and see how it works there? Latest master works for me when I tested. As a workaround - Can't you just use `jadb.getDevices()`? What do you want to do?

* The adb daemon log should be inside the regular logcat. E.g. try to run `getAnyDevice` and watch logcat output, note any errors and paste here.
* Also try to run with l

[2017-02-10 21:45] aaronmagi opened #55 "java.io.EOFException: null in JadbDevice.pull and SyncTransport.readChunk() when reading file from a device"
Hi,

We ran into an issue today while using JADB.  The phone took over 40 minutes to respond while trying to read the pull to retrieve around a 15mb file.    It looks to fail when trying to readChunk() in the SyncTransport.

        java.io.EOFException: null
      at java.io.DataInputStream.readFully(DataInputStream.java:197)
      at se.vidstige.jadb.SyncTransport.readChunk(SyncTransport.java:83

[2017-02-12 07:33] vidstige commented on #55
Thanks for reporting this issue
* Can you reproduce this? E.g. does it happen every time you try?
* Does it happen with all files? Can you try e.g. with a very small file.
* If it only happens with this file, can you share it somehow then I can look into this.

[2017-02-12 14:25] SKART1 commented on #55
Are you sure you not executing multiple commands on device concurrently?

[2017-02-13 14:15] SKART1 commented on #50
May be it is some firewall? Try to switch it at least for some time

May you try different PC/wire/phone?

[2017-02-20 09:14] gdetra commented on #50
@SKART1 i have tried but nothing to do. @vidstige i cannot find adb daemon log; if it is logcat i don't know how to show it.

[2017-02-20 09:36] gdetra commented on #50
@vidstige i have this version "number" because v1.1 give me cannot find error
`94ebf38`
I got it from  [here]((https://github.com/vidstige/jadb/issues/14))

[2017-02-20 13:12] vidstige commented on #50
Alright, so you cannot use the latest version in JitPack? So what I mean is, can you please try to `git clone` this repository and run the test from there?

[2017-02-21 18:54] SKART1 commented on #50
@vidstige
Latest version is v1.0.1 - see [jitpack](https://jitpack.io/#vidstige/jadb/v1.0.1)

As for your problem - may be java programs run`s isn some kind of sandbox in latest windows OS?
You may try to dump traffic between:

*  adb client + adb server
*  jadb + adb server

to compare them. You can do it with [wireshark](https://www.wireshark.org)

But I am sure this should not be so difficult =

[2017-03-10 02:14] agirllmy opened #56 "can we implement an adb server?"

[2017-03-11 21:39] vidstige commented on #56
Hi,
Could you clarify your question? What are you trying to do. There is already a great adb server made by google. Also, there _is_ an adb server in this package. It's used in the unit tests! :-) Please check it out and see if it suites your needs.

[2017-03-11 21:39] #56 closed

[2017-03-13 08:59] SKART1 commented on #56
@agirllmy - adb server is actually open source (written in C/C++) and may be modified by anyone.
As for it`s quality - it is not as high as you expect from most popular mobile OS in the world, but it at least updated and supported

What about creating own implementation in java - it will not be easy to maintain at least 3 platforms and supporting hundreds of features which adb now have, neverthele

[2017-03-13 09:03] vidstige commented on #56
Check out [AdbProtocolHandler](https://github.com/vidstige/jadb/blob/master/src/se/vidstige/jadb/server/AdbProtocolHandler.java) - it implments the server side adb protocol. You need to inject a `AdbResponder` to handler commands sent to a specific device. Note: Only the protocol is implemented here, it's used in the unit tests, it can not talk to any device in any way. For this, please use the ad

[2017-03-17 06:59] agirllmy commented on #56
I want to implement a java program which can talk to a device by using adb protocol，just like the function of adb server.

[2017-03-17 08:17] vidstige commented on #56
As I suspected. This will lead you down into a rabbit hole of dealing with hardware, etc. It is not a huge task, especially if you drop x-platform constraints. Some JNI will most likely be needed to access usb hardware. There probably already are libraries for this you can use. For the adb protocol, see the documentation, the adb protocol implemented in this rep and also the source code linked abo

[2017-03-17 16:44] SKART1 opened #58 "Support for connect and disconnect commands"
Support for commands like this:

[code]

They allow to communicate with devices on non standard ports and even on other hosts

[2017-03-17 17:15] aaronmagi commented on #55
@SKART1 yes we are.

Is that a issue?

I just noticed again today some very interesting behaviour where it looks like the device can not be found when another thread is reading a part of a file and a new thread tries to read from the device as well.

Aaron

[2017-03-17 21:11] vidstige commented on #55
Can you post a minimal example that exhibit this behaviour? I tried to download a 15mb file, but it worked fine.

[2017-03-20 09:21] SKART1 commented on #55
@aaronmagi looks like adb have problems with it (I think adb daemon which is on device, but it may be an adb server issue)

Firstly device should be always connected to only one adb server (not your case - just remind)
Secondly - we have faced problem with simultaneously executing test with (from shell, not jadb):

[code]
and reading logcat from device with:

[code]

When starting next test - adb

[2017-03-20 10:04] vidstige commented on #55
Thanks for this @SKART1 . I'll close this issue for now, @aaronmagi if you would like to reopen this issue, could you please first try to reproduce without jadb as described above. If it is indeed a jadb issue, please add some steps to reproduce it.

[2017-03-20 10:04] #55 closed

[2017-03-21 09:50] SKART1 commented on #58
Resolved

[2017-03-21 09:50] #58 closed

[2017-04-15 04:25] Decimation opened #61 "How do I even connect to a device?"
Because there is no documentation I honestly can't figure out how to connect to my device.

I did:
[code]

and it picks up my phone in the console but I cannot for the life of me figure out how to connect to it.

`JadbDevice dev = jadb.getAnyDevice();` does not work.

and if I try a simple command:

`dev.executeShell("input keyevent keyboard \"G\"");` there is no effect either.

[2017-04-15 04:29] #61 closed

[2017-04-19 16:35] vidstige commented on #50
Closing this for now.

[2017-04-19 16:35] #50 closed

[2017-06-19 17:46] yaron-e opened #64 "Getting permission error when pulling from device"
//String path = "/data/user/0/com.package/files/";
        String path = "/data/user/0/com.package/files/";
	String file = "TEST2.txt";

	JadbConnection jadb = new JadbConnection();
	JadbDevice device = jadb.getDevices().get(0);

	device.executeShell("run-as", "com.package");
	try {
		device.pull(new RemoteFile(path), new File(file));
	} catch (Exception e) {
                    //Keep getting a P

[2017-08-11 21:25] chipsenkbeil opened #65 "Maven Central"
Any plan to add the dependency to Maven Central? Needing to add jitpack isn't necessarily an option for everyone (including myself). Furthermore, depending on a separate service as opposed to the defacto host (Maven Central) is a bit of a concern for longevity in case jitpack goes away.

[2017-08-12 11:32] vidstige commented on #65
I have no such plan. Me and Maven never got along very well. In fact, I got help with fixing this up with jitpack. I totally see the benefits of going Maven Central. Perhaps you could help out in some way? What are the steps to get there, etc?

[2017-08-12 11:38] vidstige commented on #64
That's because you are not allowed to copy a directory. Try something like this instead.

    device.pull(new RemoteFile("/data/user/0/com.package/files/TEST2.txt", new File("TEST2.txt"));

Hope this helps, let me know otherwise.

[2017-08-13 10:53] SKART1 commented on #65
@chipsenkbeil as for now - you have at least 2 options:
* download jar from jitpack (or compile it from sources) and add it to local lib folder of your project
* add jar to your company`s local artifacts repository (if it exist in your company)

P.S. If you have any manual - please provide it.

[2017-08-13 20:04] chipsenkbeil commented on #65
@vidstige, I'll look into getting your project set up with Maven Central. I've done it with a couple of projects before.

[2017-08-27 19:11] vidstige commented on #64
Did you have a chance to try this out?

[2017-09-07 14:56] vidstige commented on #64
I'll assume this got resolved, feel free to reopen otherwise @yaron-e

[2017-09-07 14:56] #64 closed

[2017-10-08 03:31] emanresusername opened #67 "sending unicode characters"
one of those days where "not even thinking about it, assumed it'd be a no-op" turned into "where'd the day go :open_mouth:" 😅
curious how you'd go about sending unicode characters/emoji to the `execute` command?
thought it'd be as simple as `jadbDevice.execute("input", "text", "😀")`
then came across [this stackoverflow](http://stackoverflow.com/questions/14224549/adb-shell-input-unicode-character)

[2017-10-14 19:52] vidstige commented on #67
This is not a problem with the `jadb` project, nor with the `adb shell` subcommand. But this is a problem with the `input` program on the android device. As you have noticed it cannot accept unicode. But the workaround with the keyboard sounds like a great work-around, no? Did you try that keyboard?

Also unrelated, I think you can call Java code from Scala, so no need to port this library, unless

[2017-10-14 19:52] #67 closed

[2017-10-14 19:58] vidstige opened #69 "Quote arguments with e.g. tabs"
When executing commands on the android device e.g. `adb shell ls /`strings without spaces are not quoted at all, just to give better error-messages, log printouts, etc.

This breaks down if a tab character is passed to the `execute()` function, e.g. like so `device. execute("echo", "a\tb")`;

To fix this the `Bash.quote` function should be little bit more clever and also quote strings containing t

[2017-10-15 03:27] emanresusername commented on #67
yeah was just curious if you had any ideas/pointers

I did end up using that keyboard and just calling out to the [`ProcessBuilder`](http://docs.oracle.com/javase/8/docs/api/java/lang/ProcessBuilder.html#ProcessBuilder(java.lang.String...)), works well enough for me ¯\_(ツ)_/¯

indeed you can!
mine is *definitely* not a port of this library! just basically a wrapper, calling out to it with a few pa

[2017-10-15 07:35] vidstige commented on #67
Ah, I see. No, I don't have any good pointers really, I'm afraid. I would start by double-checking the source code of the `input` program to see if there isn't really any way to escape characters. I'm guessing there is not.... :-/

[2017-10-16 09:08] muhikhsan101 commented on #69
May I take this issue?

[2017-10-16 10:20] vidstige commented on #69
Hi, thanks for showing interest in the `jadb` project!

I think this will be much to easy for you, but be my guest! :) Please also add a unit test for this case, preferably [here](https://github.com/vidstige/jadb/blob/master/test/se/vidstige/jadb/test/unit/MockedTestCases.java).

[2017-10-17 04:23] muhikhsan101 commented on #69
Sure, will do.

You may say so, this will be my first time making a PR.

[2017-10-22 17:39] #69 closed

[2017-11-02 13:12] vidstige opened #72 "Unit test for `PackageManager`"
Looking at the code coverage over at codecov.io, I see I've missed to add unit tests for the `PackageManager` class. See more here: https://codecov.io/gh/vidstige/jadb/src/39dc7ee90f31bd97bba523ebb800ff2cf1f6621c/src/se/vidstige/jadb/managers/PackageManager.java

This should be easy to add, glancing at the already existing unit test.s

[2017-11-03 17:45] Jack-William commented on #72
Hi ! I'm new , I'm trying to understand how work the big world of Github.
Can I try to resolve this issue ? what can I do ?

[2017-11-03 19:54] vidstige commented on #72
Yes, please, that would be very much appreciated. This is a matter of adding a new unit test fixture class with a few unit tests. Let me ask you some questions about your background. Have you worked with unit tests before? How familiar are you with Java?

[2017-11-04 09:24] Jack-William commented on #72
I'm studying Java at university, but at the moment, we haven't talk about the unit tests classes.  So I've never worked with these type of  classes.

[2017-11-04 13:57] vidstige commented on #72
Alright.  It's going to be fine. You'll learn a lot. What editor do you use? I recommend IntelliJ.
1. Clone repo
2. Open in IntelliJ. I think you import maven project.
3. Run existing unit tests.

Let me know when you came thus far, or if you run into any snags. 😊

[2017-11-07 19:02] Jack-William commented on #72
I've done it ! So the tests classes are classes where I try my main
application , it's correct ? is a sort of tracing of more high level ?

2017-11-04 14:57 GMT+01:00 Samuel Carlsson <notifications@github.com>:

[2017-11-07 19:04] Jack-William commented on #72
I've done it ! So the tests classes are classes where I try my main
application , it's correct ? is a sort of tracing of more high level ?

[2017-11-07 20:53] vidstige commented on #72
Great! :-) And the tests are green?

So `jadb` is a library, so there is no real main application. This is where the unit tests come in. The unit tests mock out actually talking to an android device, but tests everything else, e.g. that the protocol is correct and so on.

### Real use scenario
Application (in another repo) -> jadb -> Android device

### Unit test
Unit test -> jadb -> Mocked device

[2017-11-10 14:39] Jack-William commented on #72
Not all  the tests are green, 15 test are ignored yellow color.
I'm trying to create a new unit test but where I can see the new functions to add ?
Thanks for the explanations :-)

[2017-11-10 14:46] vidstige commented on #72
Ok, that might be the integration tests... That's fine.

You just write the code for a new function and re-run the tests. You should see the test name appear

Try something like this

´´´
@Test
    public void testwilliam() throws Exception {
}
´´´

[2017-11-10 14:56] Jack-William commented on #72
Yes, I've written in this mode, but I don't understand what to put in the method block. I leave it white?

[2017-11-10 19:26] vidstige commented on #72
Well, it's a process so empty body is a good start to get you going. Before this issue is done we want to test the PackageManager class. So we need to create an instance if this class, and call a method. And then assert something.

[2017-11-10 19:28] vidstige commented on #72
Maybe you should try a tutorial to learn about unit testing first?

[2017-11-11 20:58] Jack-William commented on #72
Step by step, I understand ! :-)
I've created a new empty method and re-run the tests. I've found my test name, it was green and the message associated was :
`Starting fake on port 15037`
`Stopping fake on port 15037`

[2017-11-12 09:42] vidstige commented on #72
Great! 😊 And do you feel you have a way forward?

[2017-11-13 18:20] Jack-William commented on #72
I'm trying! :-)
I've raised an exception for verify if also the exception management go well with the method that I've created

[2017-11-14 11:45] shubham-negi commented on #65
Hi there, can I try ? If nobody is working on this then please let me know.

[2017-11-14 14:49] chipsenkbeil commented on #65
@shubham-negi, go for it. Work sucked me away from this.

[2017-11-14 16:34] vidstige commented on #65
@shubham-negi yeah, sure. Go for it. Seems like at least one person would appreciate it. 👍

[2017-11-14 17:25] shubham-negi commented on #65
Well I'm new to this very thing. Can somebody be nice to me and help a bit?

[2017-11-14 19:43] chipsenkbeil commented on #65
@shubham-negi, with regard to getting access in Maven Central, check out these issues I filed for other organizations.
 https://issues.sonatype.org/browse/OSSRH-16641 <-- Creating an org.senkbeil organization
https://issues.sonatype.org/browse/OSSRH-19500 <-- renaming to org.scala-debugger

I'm not familiar with the tool Maven. Don't know if it has integrated support to push to Maven Central or if

[2017-11-20 15:07] herau opened #73 "compare with ddmlib"
Hello,

Just wondering if jadb has features ddmlib doesn't have ?

Because i guess ddmlib is the official way to discuss with adb ?

https://mvnrepository.com/artifact/com.android.tools.ddms/ddmlib/22.0

Thanks for your answer

Best regards

[2017-11-22 13:51] #73 closed

[2017-12-05 22:03] vidstige commented on #72
Any news? :)

[2017-12-07 09:21] thangdc94 opened #74 "conflict access modifier"
`createTransport()` is public, but return `class Transport` is package access.
[code]

[2017-12-24 10:13] xcjiang commented on #73
i was wondering too, any explanation?

[2018-01-03 22:03] vidstige commented on #74
Good catch, will look into it. Or accept prs, if you're so inclined.  I guess both should be package... :thinking:

[2018-03-29 13:54] bcallebaut commented on #65
@shubham-negi, any progress on it ?

One need to:
- change version from 1.0.0-SNAPSHOT to 1.0.0
- create/distribute/use your PGP public key
- Setup Sonatype account

[2018-03-29 14:08] bcallebaut commented on #74
A quick comment on this issue:
I think that ITransportFactory must be package local at least.
I would also remove the implements ITransportFactory from JadbConnection and add a ITransportFactory getTransportFactory() in JadbConnection (package private)

What do you think about it ?

[2018-03-29 14:26] bcallebaut commented on #72
@vidstige : Could that be issue marked as resolved ?
 According to the pr it seems to be solved (at least for the biggeest part)

[2018-03-29 14:28] thangdc94 commented on #74
@bcallebaut You are right. `Transport` is package access, so its factory method should be package access.

Factory method should be placed in indivudal class rather implement it in `JadbConnection`.

[2018-03-29 15:36] shubham-negi commented on #65
@bcallebaut No, I didn't started it yet. If you want me to, then I can configure the mentioned list [PS: Except Sonatype, I haven't heard about it yet but I can look it up if you agree ].

[2018-03-30 02:36] thangdc94 opened #76 "implement AutoCloseable in Transport"
I think implementation of `Socket `should implement interface `AutoCloseable `  (introduced in Java 7) to make it possible to use try-with-resources idiom.

What do you think?

[2018-03-30 08:35] bcallebaut commented on #65
@vidstige Fully agree. the best is to use your PGP key (if anybody else signing with its PGP key drops out of the project it will be a mess.
@shubham-negi Fine for me but check with vidstige before creating any account on Sonatype. Multiple persons/account involved in pushing an artifact is a bad idea.
@vidstige : I can take on the maven part. For the admininstrative part (accounts...) I prefer th

[2018-03-30 08:47] bcallebaut commented on #76
@thangdc94 : Good remark, could you point me to the code you are talking about ?

[2018-03-30 11:27] thangdc94 commented on #76
@bcallebaut This class should implement `AutoClosable`
https://github.com/vidstige/jadb/blob/master/src/se/vidstige/jadb/Transport.java

[2018-03-30 13:26] bcallebaut commented on #76
I made the change you requested as part of Pull Request #77.

[2018-03-30 13:50] bcallebaut commented on #74
Could you have a look at the commit in my fork : bcallebaut/jadb with id [bb7006a](https://github.com/bcallebaut/jadb/commit/bb7006a87fb9b78be4b345a19e575b61eaa9fb86) before I do a Pull Request

 Any comment is welcome (blame too btw)

[2018-03-30 22:28] vidstige commented on #65
Yes, I've heard there can be a pain and so on. Can someone elaborate on exactly what problem this solves or how this makes the world better? Compare with current setup with jitpack.

[2018-03-30 22:35] vidstige commented on #74
Nice! But what's the point of the extra class? 🤔 Who is actually using the `createTransport` method outside the class? Let's look at that first. Then fixing this issue can be a single line - Just changing the access modifier to package (or private) for `createTransport`.

[2018-03-31 02:21] chipsenkbeil commented on #65
@vidstige, see my initial reasons at the top of the issue.

[2018-03-31 04:28] vidstige commented on #74
To be honest, I don't remember why I added the `ITransportFactory` interface. But it should be easy to check how it's used, and go from there. If it's only used by the `JadbConnection` then I feel we can drop the interface actually.

[2018-03-31 04:36] thangdc94 commented on #74
@vidstige Yeah, It is better to remove it.
@bcallebaut Can you remove `ITransportFactory` and its Implementation in your pull request?

[2018-03-31 13:31] bcallebaut commented on #65
- Maven integration is a defacto standard for the 3 main IDE (Eclipse,IntelliJ & Netbeans)
- Ant is also supported but lacks the dependency management (extensions for ant are not standard or supported by IDEs)
- Project structure and dependency/settings management of the 3 IDEs is incompatible
- gradle projects support natively maven dependencies
- jadb builds with maven

**In Conclusion**:
 Maven

[2018-04-01 03:15] vidstige commented on #65
I think your confusing Maven with Maven Central? I think we already tick all of these bullets, e.g. you can just ignore the ant build and import the pom file into IntelliJ and so on which is very convenient. So let's focus on what benefits we would get from Maven Central, as compared to jitpack. Please be specific. Right now I feel the case for Maven Central is rather weak, considering the extra e

[2018-04-02 08:36] thangdc94 commented on #74
Hi @bcallebaut ,
You forgot to change access modifier of `createTransport()` to package
https://github.com/bcallebaut/jadb/blob/2d24394233a951e9ff0a8235488be7c054e256a4/src/se/vidstige/jadb/JadbConnection.java#L26

[2018-04-04 16:11] bcallebaut commented on #74
Hi @thangdc94, Change done. Indeed, I forgot it.

[2018-04-06 19:38] bcallebaut commented on #65
Downloading manually and tracking versions of 100 of libraries is really time consuming and quickly become a nightmare. Maven handles it smoothly through its transitive dependency management.
It is true that the added value for this project may be small, but it can become a showstopper for users accustomed to handle projects that way.

That said, I have to problem with the current situation.

[2018-04-06 20:00] vidstige commented on #65
I fully agree Maven have a lot of benefits. Let's first recap the current situation.

* Developers _using_ this package (jadb) can easily use Maven for dependency management if they so desire, as described in [the documentation](https://github.com/vidstige/jadb#using-jadb-in-your-application).
* Developers of _this_ package (jadb) can build it using Maven, either from command line or via IDE of ch

[2018-04-06 20:00] #65 closed

[2018-04-06 20:00] vidstige commented on #65
Let's reopen if the circumstances or reasons for Maven Central changes.

[2018-05-16 13:20] mikita-simanavets opened #78 "New JADB release"
Hello @vidstige!

Master branch contains 51 new commits since [v1.0.1 release](https://github.com/vidstige/jadb/releases/tag/v1.0.1) [Nov 9, 2016].
Could you please say, when do you plan to release new version of JADB?

[2018-05-16 13:53] mikita-simanavets commented on #78
@SKART1 thank you a lot! Yes, JitPack doing what a want

[code]

[2018-05-16 13:58] SKART1 commented on #78
It is better to refer "stable"  artifact if you are dealing with any build system. It guarantees same result for two builds.
Snapshot may refer to new artifact with new features/bugs, while referring commit will guarantee same jar
Try something like this:
[code]

[2018-05-16 22:07] vidstige commented on #78
Wow, time really flies doesn't it? We should definitely make a new release with all the good stuff. Just to get a small sample here. Are you using the latest? Does it work well? If so I can tag a new release right away.

[2018-05-19 11:25] mikita-simanavets commented on #78
Guys, it looks like you forgot to make a release. There is no information about new version at [Releases page](https://github.com/vidstige/jadb/releases) and at [JitPack repository](https://jitpack.io/#vidstige/jadb) (both show v1.0.1 as latest). Please, make it. If I can help with it, let me know. Thank you!

[2018-05-19 20:17] vidstige commented on #78
Oh, I thought all tags where automatically released. I just quickly summarized all the commits in a new relase - v1.1.0. I don't know if jitpack will pick it up, but lets keep an eye out.

Also do you gentlemen know of master should look? Should there be `"1.2-SNAPSHOT"` in the pom.xml file? 🤔

[2018-05-21 19:05] SKART1 commented on #78
It is already in jitpack:
![image](https://user-images.githubusercontent.com/3259560/40322462-23151ab2-5d3b-11e8-9461-9551157e51eb.png)

What about pom.xml - there are different approaches but as for me the best way is to keep current version + SNAPSHOT string inside pom.xml

[2018-05-21 23:10] vidstige commented on #78
Alright, cool. With "current", you mean the last released version or the version currently in the making? Are we good to go for now, in that case? Or should we go `"1.2-SNAPSHOT"`?

[2018-05-22 09:41] SKART1 commented on #78
I mean "the last released version" - but it is my IMHO based on discussions of pro and con of both approaches

[2018-05-22 14:14] janosvitok opened #80 "Typo: missing n in pattern"
https://github.com/vidstige/jadb/blob/c331b073648d1f43133ec1f4800d8ba09636c19c/src/se/vidstige/jadb/managers/PropertyManager.java#L43

[2018-05-22 14:17] SKART1 commented on #80
You are free to make a pull-request)

[2018-05-22 15:39] SKART1 commented on #80
Done in #81

[2018-05-22 15:39] #80 closed

[2018-05-22 18:44] vidstige commented on #78
Alright. I've also heard sensible for going with with the _upcoming_ version, but lets go with this for now. Thanks for the initiative and help guys.

[2018-05-22 18:44] #78 closed

[2018-05-24 11:41] TheQmaks opened #82 "Shell code not executing"
nope

[2018-05-24 19:04] TheQmaks commented on #82
So, i have a new problem. If i useing device.executeShell(OutputStream, String, String...) - after executeShell(String, String...) doesn't work.

[2018-05-24 19:27] #82 closed

[2018-05-25 09:48] janosvitok opened #83 "Is this typo intentional? PackageMan(a)gerTests"
https://github.com/vidstige/jadb/blob/312cd0235a82faee2928920c2c6077c1538f9bbb/test/se/vidstige/jadb/test/integration/PackageMangerTests.java#L15

[2018-05-25 12:17] janosvitok opened #84 "PackageManager problems"
# Issue 1: all options get space appended
# Issue 2: option parameter is joined with the value:

https://github.com/vidstige/jadb/blob/312cd0235a82faee2928920c2c6077c1538f9bbb/src/se/vidstige/jadb/managers/PackageManager.java#L100

[code]
that JadbDevice.buildCmdLine turns to
[code]
while most probably it should be
[code]

# Issue 3: Bash.quote() in PackageManager.remove() probably causes double q

[2018-06-17 16:58] vidstige commented on #83
It is not! Pull requests open for business if you've got the time. 🙇 Thanks for taking the time to report this.

[2018-06-22 08:22] #83 closed

[2018-06-23 20:08] vidstige commented on #73
I'm not fully aware of the features of ddmlib, but I doubt jadb has something ddmlib does not. I originally wrote the jadb library to verify the official Android documentation on the adb protocol which I have described. One should see `jadb` as a mini-implementation of the protocol. It's great if you want to play around with the protocol and learn how stuff works. But it's very mature also and if

[2018-07-04 09:40] janosvitok opened #87 "CONTRIBUTING.md is outdated"
The CONTRIBUTING.md is bit outdated - you can't build with ant now, you should with maven, etc.

Also: build.xml should be updated (at least update java version to match maven) or deleted

Also: coding guidelines would be appreciated
* what Java version compatibility do you go for? Can we use Java 7/8/9/10/... features? From maven config I guess 1.7...

[2018-07-04 10:15] SKART1 commented on #87
I think we may set source compatibility to java 1.8 which features are mostly common to android programmers

What about ant - may be it is time to drop it`s support - cause maven do same + some extra features.
@vidstige - what do you think about ant?

[2018-07-06 10:37] vidstige commented on #87
Yes, I doubt anyone uses the `ant` build anymore. Even travis uses maven as can be seen in the [build log](https://travis-ci.org/vidstige/jadb). It won't be missed - Lets burn it with fire! :-)

[2018-07-06 10:39] vidstige commented on #87
As for java compatibility, as this is library that does not see super much development, being compatible is more worth than somewhat cleaner code. I'm not against 1.8, but this is not an app or so, and you can still use this library in your 1.8 Java android app or whatever. The compatibility is just the _minimum_ version needed. Unless a very compelling argument can be made to drop compatibility,

[2018-07-06 10:44] janosvitok commented on #87
Maven specs 1.7, ant specs 1.6 but fails to build the source due to diamond operator:

[code]

[2018-07-06 11:03] vidstige commented on #87
There you go, just one more reason to rip it out 👍

[2018-07-06 11:04] vidstige commented on #87
Pull requests open for business! I won't have time to remove it personally during upcoming weeks, but perhaps later on.

[2018-08-06 13:02] luoshiduan opened #96 "JadbException e ;List<JadbDevice> devices = jadb.getDevices();"
please, I have a question: when I use the funcation List<JadbDevice> devices = jadb.getDevices() it catch that JadbException??

[2018-08-29 14:40] kingz3 commented on #96
you probably already figured this out but functions can throw exceptions not catch them so you would have to catch that jadb Exception

[2018-09-10 21:01] smieras opened #100 "Various methods can be made less accessible to increase encapsulation"
I have noticed that the following methods are declared public:

- AdbProtocalHandler.send()
- DeviceWatcher.watch()
- SyncTransport.readInt() and readString()
- Transport.readString() on line 43 and getCommandLength()

Unless these methods are called by name via reflection, these members should be private to improve information hiding.

If this change is indeed regarded as desirable, I could make

[2018-09-11 04:40] Trumeet opened #101 "Is Adb Server possiblely convert to Java?"
I saw that the project is the client of Adb, it creates socket connection to Adb Server. Is it possible to make a Adb Server in Java?

[2018-09-11 13:00] vidstige commented on #101
It's possible, but unwise. The problem is you work with the OS level USB interface to communicate with the device. I've never heard of such enterprise, but I'm pretty sure it can be done. Normally I would advice a language like C or perhaps C++ for this type of task.

[2018-09-11 13:03] vidstige commented on #100
* `DeviceWatcher.watch()` I thought this was the actual function you called to watch for new connections?
* `AdbProtocalHandler.send()` - Sure, sounds good :+1:
* `SyncTransport.readInt()` and `SyncTransport.readString()` - Sure, sounds good :+1:
* `Transport.readString()` - This should probably be used somewhere? Seems strange to me. Let's leave as public.

Thanks for checking in first. Looking f

[2018-09-11 21:07] #100 closed

[2018-09-17 18:35] #101 closed

[2018-09-17 18:36] vidstige commented on #87
Adressed in #104

[2018-09-17 18:37] vidstige commented on #96
Can you clarify your question? What is the exception _message_? Please provide full stacktrace of the error.

[2018-09-17 18:38] vidstige opened #105 "Double quoting"
`Bash.quote()` in `PackageManager.remove()` probably causes double quoting.

[2018-09-17 18:39] vidstige commented on #84
All but one problem remaining. Moved it to separate issue for clarity - #105.

[2018-09-17 18:39] #84 closed

[2018-09-17 18:42] vidstige commented on #74
Everything seems to be in order here.

[2018-09-17 18:42] #74 closed

[2018-09-19 06:15] vidstige commented on #105
Great! :-) So this issue was first reported by @janosvitok in #84. As you can read in the title he hasn't verified this, but just from reading the code, he got suspicious. The problem is that `Bash.quote()` seems to be called twice.

1. First clone the code and run the test suite against an emulator (or real device f you prefer)
2. Verify the bug by installing a package _white a space_ e.g. on an

[2018-09-19 23:45] jevalen4868 commented on #105
I appreciate the rundown, Samuel!

Per #90 , it seems that the issue has been verified non existent.

For example, when running Bash.quote on 'space file' you get

[code]

which would translate to:
QUOTE -> UNQUOTE -> CHAR QUOTE -> QUOTE ->
COMMAND ->
UNQUOTE -> CHAR QUOTE -> QUOTE -> UNQUOTE

This may be redundant but I don't believe it's incorrect.

Your thoughts?
Jeremy

[2018-09-19 23:45] jevalen4868 commented on #105
Please ignore the last message.

[2018-09-20 08:11] vidstige commented on #105
Sweet! Out of curiosity - How did you verify it? For extra credit it's also possible to check in any such verification code as a unit test to keep the code working. 👍

Thanks for your contribution. And congrats to first merged pr :-)

[2018-09-20 08:11] #105 closed

[2018-09-20 14:58] jevalen4868 commented on #105
Hey!

The pleasure's all mine!

I verified by sticking an "ls" execute on the apk name, to see whether or not the file was still there after "rm" execution. I think I could come up with a way to validate that.

Thanks so much for the opportunity to help out.

[2018-09-20 15:05] jevalen4868 commented on #105
Question:

It looks like we can verify that the file was deleted by issuing the `rm -v`. It'll print out the file path + name of the file if deleted successfully. In addition to (or instead of) a test, would it be reasonable to throw an exception or log a warning if that does not operate as expected?

Thanks!

[2018-09-20 15:35] vidstige commented on #105
Thanks for the research. That verification should not be needed. On the android side of things, unless otherwise stated, things works. So if we would like to verify the file was deleted, it's better to check the return code of the `rm` invokation.

I was more thinking of a _unit test_, e.g. code that is run to verify the integrity of jadb, rather than code that is ran when e.g. installing an apk.

[2018-09-20 15:48] jevalen4868 commented on #105
Understood, I'll look into it, thanks!

[2018-09-23 18:28] #87 closed

[2018-09-29 23:58] Will0376 opened #107 "JadbConnection(ip,port)"
Hello! I use your library and I can not understand ...
When you connect to the phone by "adb connect ip" - All OK.
But if you use jadb in java - nothing happens ...
log:
test
test2
Android Device with serial null
test3;

I tried both with the included adb server and without it...
What do I do not so?
P.s.Forgive for awful English

`
th = new Thread(new Runnable() {

			@Override
			public void run

[2018-09-30 12:06] wenny611 opened #108 "Problem with connection to VirtualBox by Genymotions"
Hi. I have last Genymotion installation:
Genymotion: 2.12.2
Genymotion emulator: Custom Phone - 6.0.0 - API 23 - 768x1280
VBox: 5.2

Adb running inside the emulator on localhost:5555. [SimpleAdbClient](http://www.source-code.biz/snippets/java/SimpleAdbClient/) works fine. But Jadb with the same input and environment hangs up. Tryed other local and external IPs without any effect.

I also using Jad

[2018-10-01 18:41] gmmapowell opened #109 "SocketException after copying many photos"
I'm trying to use JADB to automatically offload photos from my (various) Android devices.  I've found it very easy to use and have got up and running in an hour or so.

But I'm encountering a socket exception about every 250 or so photos that I pull across; I'm guessing that something is incapable of coping with 800+MB of file transfer (probably failing to clear something from memory), but I'm not

[2018-10-04 14:07] Will0376 commented on #107
Hmm, I tried the connection using the usual adb - after the adb connect, the JADB starts working like a cable, but via wi-fi: D

[2018-10-11 10:07] Bilb opened #110 "Connect to tcp host "Connection refused""
Hi,
I am trying to  useJadb to connect to a remote android board. I have enabled the tcpip mode and I can connect to it from my laptop using

adb connect  <ip>:5555
connected to <ip>:5555

However, when I try to do the same using Jadb I get  the following messages :

`01-21 02:03:26.874  2056  2089 W System.err: java.net.ConnectException: Connection refused
01-21 02:03:26.875  2056  2089 W System.

[2018-10-11 10:09] Bilb commented on #110
Here is the source code associated with the code

`
InetSocketAddress addr = new InetSocketAddress("ip",5555);

                        JadbConnection jadbConnection = new JadbConnection();
                        try {
                            jadbConnection.connectToTcpDevice(addr);
                        } catch (IOException e) {
                            e.printStackTrace();

[2018-10-11 12:32] SKART1 commented on #110
JADB is adb client, not server.

You still need ADB server in the middle as far as I understand the question

 <Android Device>   <---> <ADB server>  <--> <JADB>

[2018-10-11 13:13] Bilb commented on #110
Ok, I think I got it.
* adbd is the daemon part running on my board,
* and Jadb & adb server needs to be run in my host.

Jadb tried to connect to adb server which does not run on my board, hence the connection refused.

Thanks

[2018-10-11 13:13] #110 closed

[2018-10-11 13:50] SKART1 commented on #110
Actually adb server and jadb may run on different hosts (it is possible with some hacks)

[2018-11-07 19:26] farrukhnajmi opened #111 "How to block until "am dumpheap" via executeShell until the dump actually finishes?"
I use the following groovy code to do a heapdump and pull dump file from device:

[code]

The file exists as non-zero bytes file in remote.
The localFile is created with zero bytes.

However, if I run my test in a debugger and hit a breakpoint at the return statement at the end then localFile is created  with non-zero (correct) bytes.

After some testing it turns out that the executeShell does not

[2018-11-07 19:33] farrukhnajmi commented on #111
I figured it out. After the`jadbDevice.executeShell('am', 'dumpheap', pid.toString(), dumpFilePath)` command I need to wait some time before the dump is finished. Putting a sleep before doing the pull command makes things work.

So is there a way to block until the "pm dumpheap" is actually done?

[2018-11-10 14:10] vidstige commented on #107
I don't fully understand what you are trying to do here. But I'm glad it worked out in the end! :-)

[2018-11-10 14:10] #107 closed

[2018-11-10 14:15] vidstige commented on #111
There probably is such as way, but this is not related to jadb, but rather to the Activity Manager (`am`) command line tool.

[2018-11-10 14:15] #111 closed

[2018-11-10 14:18] vidstige commented on #109
Thanks for reporting this bug. That's curious. It should not be due to memory problems, but one can never be sure. The exception happens when verifying the response from the device. `Connection reset` typically means the remote host (device) closed the connection. Could you post your source code as well?

[2018-11-10 14:19] vidstige commented on #108
Thanks for reporting this. Can you post the output of `adb devices` here? 🤔

[2018-11-10 14:19] #96 closed

[2018-11-11 23:04] gmmapowell commented on #109
The actual code I was using was embedded in a much bigger application, so I've extracted the key elements below.

[code]
And this is the output I get:

[code]

Is there any debugging/logging/tracing I can turn on, or anything I can do on the phone to get more data?

Note that I've removed all my attempts at exception handling.  With these turned on, the exception repeats about 20-30 times before f

[2018-11-12 09:12] SKART1 commented on #109
Cool usage of the library :+1:

You may try to see the system log in the logcat (turn it to bee maximum size in developer options)
It is stored for some time - so you may try to reconnect phone and ask `adb logcat`

Also as a quick fix you may try to copy files in batches closing and opening connection after each batch

[2018-11-12 10:15] vidstige commented on #109
By a fortunate turn of events, there is a PR up that needs testing _and_ it might also solve this. In #95  sockets are systematically closed at the correct times. Please try that. I don't know what would be the easiest way to test it though. Perhaps just check out that branch locally?

[2018-11-12 11:02] gmmapowell commented on #109
Fortunate, indeed.

Yes, that seems to work just fine.  I'm not sure what the differences were, but it ran through all 800+ files without a hitch.

[2018-11-12 12:37] vidstige commented on #109
Wow, beautiful. Thank you for testing! :bowing_man: I'll merge it promptly

[2018-11-12 12:38] #76 closed

[2018-11-12 12:39] vidstige commented on #109
I just merged #95 to master, so feel free to use the bleeding edge version (latest master) for now. I'll try to make a new release some time soonish. Very cool project, btw! :)

[2018-11-12 12:40] #109 closed

[2018-12-16 14:15] vidstige commented on #108
Thanks @TheQmaks for clarifying this use case. Let's close for now.

[2018-12-16 14:15] #108 closed

[2018-12-18 11:02] TheQmaks opened #113 "DeviceDetectionListener useless"
My steps:
1) Run java program with listener
2) adb connect ip:port
3) We get nothing

If i create new thread with while loop and delay printing connection.getDevices().size() - it updated and print me newer devices list. But to listener it doesn't go.

[2018-12-25 18:43] vidstige commented on #113
I never liked the Listener anyway. Does not feel like core jadb stuff. I would rather remove it than fix it.

[2018-12-25 22:59] TheQmaks commented on #113
I just used getDevices method in loop with checking already added devices by serial. So you can remove it if you like.

[2018-12-28 13:21] dllewellyn opened #114 "Adb querying functions"
I've been working with jadb for a little while and I was wondering if you'd be interested in some of the features I've added. Mostly it's just wrappers around executeShell in order to get some information about the device;

* Retrieve battery information
* Retrieve device temperature
* Retrieve architecture, android version, brand and manufacturer (etc)
* Enable adb over WiFi
* Connect to a device

[2018-12-31 05:56] vidstige commented on #113
Waiting a while to see if someone wants to help out with this, before I jump onto it.

[2018-12-31 06:00] vidstige commented on #114
The first three - Retrieve battery information, etc, sound borderline out of scope. `jadb` tries to be at the core of the adb protocol. However, these functions could be very useful still. One thing you can consider is making your own library with helpful querying functions that depend on jadb.

The enable adb over WiFi sounds very much interesting for jadb, not at least because it sounds like it

[2019-01-02 12:18] TheQmaks commented on #113
I not see listeners in adb server documentation. So i think it better solution, for now.

[2019-01-02 12:46] TheQmaks commented on #114
Lel. This ability not for jadb. Download wifiadb from GooglePlay, enable adb server in local network and connect to that from your pc by local ip witch be seen in application.

[2019-01-02 13:15] dllewellyn commented on #114
That app only works on rooted devices. There is an command built into adb to enable adb over IP.

[2019-01-04 17:35] TheQmaks commented on #114
I tested that on MiBox 3.0. Just runned usb mode in dev settings and connected from adb laptop by local ip to box (without root).

[2019-01-04 18:07] dllewellyn commented on #114
I'm not sure why you wouldn't want this to be in jadb regardless because it
is part of adb to be able to do it...

On Fri, 4 Jan 2019, 17:35 Anatoliy <notifications@github.com wrote:

[2019-01-04 18:18] vidstige commented on #114
@dllewellyn I'm with you here. Again, I think it's a good fit for jadb. 👍

[2019-01-05 18:36] TheQmaks commented on #114
Because that future without root and something else....

[2019-01-08 13:07] xcjiang opened #117 "pulling a directory fails"
does this lib support pulling directories?

[2019-01-10 06:54] #114 closed

[2019-01-10 20:04] H4xX0r1337 opened #118 "ECONNREFUSED on Android"
I am trying to use an ADB library on an Android app. I tried another lib and it worked, but is not maintained anymore. That's why I want to use this one. I am always getting ECONNREFUSED on Android. I have granted all necessary permissions, but i can't connect to the phone. Neither from a real device nor from the emulator, but it works from the PC. Of course I have wireless USB-Debugging on port 5

[2019-02-20 09:43] janosvitok commented on #113
We use DeviceWatcher with no problems (ADB over direct USB connection). I would prefer that it stays :)

[2019-02-20 09:50] janosvitok commented on #113
Anatoliy, can you post code snippet how do you start the device listener?

[2019-02-25 18:13] TheQmaks commented on #113
It depends on your devices.

[2019-02-25 18:18] janosvitok commented on #113
This is not a useful answer. My question was in fact offer to debug your code, since for us it works, so maybe you have some problem in your code (or not). For that, I need to see your code.

[2019-02-25 18:22] TheQmaks commented on #113
:D
I need test it, just wait

[2019-02-25 22:13] TheQmaks commented on #113
Something like that. If you want, you can make your listener for events like a ConnectedDevice and DisconnectedDevice. All in your hands.
https://pastebin.com/KyT4gUnA

[2019-02-27 09:57] vidstige commented on #113
But the listener is passive and event driven, while the above code is polling. Let's keep the `DeviceDetectionListener` for now. I still don't like it thought. :-) It would be cool if we could decouple the threading there, so that the users of the library had to create their own thread, and have the threading code as example code or something like this.

[2019-02-27 09:58] #113 closed

[2019-05-04 06:59] #118 closed

[2019-05-04 07:00] vidstige commented on #118
`jadb` is meant to be running on the host machine, not the phone. It might work, but seems like a strange thing to do. Do you want to connect to an Android _from_ an Android via adb?

[2019-05-04 08:02] H4xX0r1337 commented on #118
@vidstige Yes, I want to connect from an Android phone to the same Android phone. It is a nice way to get elevated privileges. [This](https://github.com/tananaev/adblib) old library is working. It's a shame that I can't use jadb.

[2019-05-29 02:57] panjunye opened #120 "Is "adb forward tcp:80 tcp:80" supported?"
The native adb supports command "adb forward tcp:port tcp:port" which forwards the pc's local port to phone's local port.I wonder does jadb support this?

[2019-08-02 08:14] vidstige commented on #120
Sorry for late reply, no sadly it does not currently support this.

[2019-08-17 10:51] #120 closed

[2019-10-31 10:09] BOOtak opened #122 "Android 10, exception in PackageManager.forceInstall(...)"
When I try to force install any application on an emulator with Android 10 using Jadb API call `PackageManager.forceInstall`, it throws the following exception:

[code]

I've assumed that PackageManager uses simple `pm install -r` call under the hood, and this command changed in format in Android 10, but, surprisingly, calling `pm install -r <PKNAME>` manually from adb shell still works, as well a

[2019-12-02 20:20] electromatter opened #123 "Quoting is insufficient"
The quoting added by #69 is insufficient. You quote space characters, but one should also quote strings that contain special characters as specified by POSIX given https://pubs.opengroup.org/onlinepubs/009695399/utilities/xcu_chap02.html#tag_02_02 .
However, this can vary from shell to shell, so to be safe you should quote all strings. As it stands now, this library incorrectly quotes strings, for

[2019-12-15 07:44] ligi opened #125 "executeShell only executes command when input i"
this does not execute the comman:
`device.executeShell("input keyevent KEYCODE_POWER")`

but this does:
`device.executeShell("input keyevent KEYCODE_POWER").reader().readText()`

I would expect the first command to also work

[2020-01-08 14:28] shill829 opened #126 ".executeShell doesn't work with large commands and multiple arguments"
I am writing a program to automatically test certain info about the device. I'm having trouble using large commands, however. For example, the command **

dumpsys battery \|   grep '^  level:' \|sed   's,.*\(.\{3\}\)$,\1,'\|awk '{$1=$1};1'
--

**

 

returns only the numerical value of the battery level. However, I cannot run this command sucessfully via .executeShell. It only seems to run the fir

[2020-07-24 16:54] gmmapowell opened #128 "Could you make a new release, please?"
I was just trying to diagnose a connection leak issue and found that although it was a problem in the maven version, there looks a very plausible fix in github source.

I see there have been 80 commits since the last release.

It would be great to have these fixes out in the wild.

Thanks!

[2020-07-27 16:55] MrSlateZB opened #129 "Last modified time isn't propagated to the device properly when pushing"
After pushing a file to the android device, its last modified time was reflected to be over 20 years in the future.

[2020-08-23 16:51] vidstige commented on #101
@mirfatif this implementation is already present in jadb. There is an almost complete server implementation used in the automatic tests. However, it still does not help with the original problem of talking directly to a phone only using java - You still need the USB parts. However, if there was a way to run via network, that would be awesome. In adb the adb damon is running on the phone, the adb s

[2020-09-10 10:04] mirfatif commented on #101
I'm just a hobbyist developer, so I can talk noobish.

Yeah that's the point. ADBLib client can connect to ADB daemon (`adbd` already running in `tcpip` mode obviously) over network socket without running ADB server on phone. This is what I tested:
[code]
However there are some limitations I observed: https://github.com/tananaev/adblib/issues/4.

So is it possible to achieve the same with `jadb` w

[2020-09-10 14:57] vidstige commented on #101
It's currently not possible as far as I know, but it should definitely be possible then. Still, there would be nice pure-java adb server. But instead we would connect to a adb server on the phone, or talk directly to the adb deamon. There is possibly another protocol in use there.

[2020-09-24 19:19] vidstige commented on #128
Great idea!

[2020-09-24 19:25] vidstige commented on #128
Just did one. :)

[2020-09-24 19:25] #128 closed

[2020-09-24 21:15] gmmapowell commented on #128
Thanks!

[2020-11-02 14:47] veN1337 opened #132 "SELinux is blocking apk install from /sdcard/*"
Trying to install an apk with ``se.vidstige.jadb.managers.PackageManager#install(java.io.File)`` on any of my Android 10 devices causes following issue:

System server has no access to read file context u:object_r:fuse:s0 (from path /sdcard/tmp/testapp-1.0-debug.apk, context u:r:system_server:s0)
Error: Unable to open file: /sdcard/tmp/testapp-1.0-debug.apk
Consider using a file under /data/local/

[2020-11-13 09:31] veN1337 commented on #132
Just noticed commit 163fa7f already fixes this.
Last release was build just a day before that commit 😞

[2020-11-13 09:31] #132 closed

[2020-11-17 10:37] vidstige commented on #129
That sounds like a bug! Thanks for reporting.

[2020-11-17 10:40] vidstige commented on #126
I think that's to be expected as the `executeShell()` function does not execute a shell (despite it's name), but rather just `exec`'s the given command. Can you try with `bash -c "dumpsys battery | grep '^  level:' "` for example just to try piping works. Note the explicit shell invokation with `bash -c`

[2020-11-18 14:03] Gyara2 opened #133 "Trying to connect android with android"
Hi! Firstly, I need to know if it is possible connect an android device with an another device using this client.

I want to made an app that could configure an android device which needs a custom configuration (push, pull, etc...)

Currently, when I launch the apk, I get an error "More than one device ...", If I disconnect the host machine (windows) using adb kill-server and click the button anot

[2021-02-02 12:11] root-intruder commented on #133
Would you maybe be more specific on errors: stacktrace and the Problem? the title says you want to connect two android devices and in the text you speak of a windows machine you disconnect.

The more than one device error is usually when you have 2 phones connected to the computer and do:
[code]

[2021-02-11 10:03] root-intruder opened #134 "execute command not working with mutated vowels (german umlaute)"
I found out, that the JadbDevice execute command doesn't work with mutated vowels (üäö)

`execute("echo", "sadöok")`
delivers:
`sadöo`
NOTE: last letter missing

the same with a space reacts different since the executor wraps the argument in '
`execute("echo", "sa döok")`
delivers:
`/system/bin/sh: no closing quote`

I'll look into if I'm able to solve this myself

[2021-02-11 14:26] root-intruder commented on #134
fixed in #135
these characters can not be escaped and should be either filtered out or a exception shall be thrown. I went for the second option to not silently introduce errors without users noticing

[2021-02-26 19:20] vidstige commented on #134
Yes, the Bash.quote is a bit bugged. It does not handle all characters well. However, this probably does not have to do with the bash-quoting. Perhaps utf-8 encoding is not used everywhere properly? :thinking:  It would be interesting to add a unit test that executes a command containing e.g. umlauts. I'm guessing there is a reader or similar somewhere that does not have utf-8 encoding.

[2021-02-26 19:23] vidstige commented on #134
Perhaps add a test case similar to this one and see if you can find anything? https://github.com/vidstige/jadb/blob/master/test/se/vidstige/jadb/test/unit/MockedTestCases.java#L99

[2021-03-01 14:05] root-intruder commented on #134
my commit includes testcases for umlauts.

executing the test without the bash quoting fix will pass the string "sa döok" correctly to the output stream https://github.com/vidstige/jadb/blob/3e2a88faf10dc0e1fb4dd9d1a91a7492044c3e7d/src/se/vidstige/jadb/Transport.java#L58

which is correctly setup as UTF-8. however after that comes the adb protocol which then messes up with any character not in the

[2021-03-02 09:38] root-intruder commented on #134
@vidstige, I updated my merge request

[2021-03-05 07:35] root-intruder commented on #134
resolved with merge #135

[2021-03-05 07:35] #134 closed

[2021-03-05 07:49] root-intruder commented on #123
fixed by #135, so this can be closed

[2021-03-05 15:47] #123 closed

[2021-03-05 15:48] vidstige commented on #126
This is working as expected and has an easy workaround, so closing for now.

[2021-03-05 15:48] #126 closed

[2021-03-05 15:49] vidstige commented on #133
We need some more information on this to be able to help you. Thanks for helping out with writing an answer @root-intruder

[2021-03-24 20:14] jpage4500 commented on #118
@H4xX0r1337 -- I know this was a long time ago but I'm also interested in making a connection from an Android app to the adb service on the same device.. did you ever figure out a solution?

Both this library and the other one you mentioned return the same error (I tried both port 5555 and 5037)
[code]

thanks!

[2021-03-26 11:28] vidstige commented on #118
@jpage4500 @H4xX0r1337 it seems to be very easy to enable this. Check out [this answer](https://stackoverflow.com/questions/2604727/how-can-i-connect-to-android-with-adb-over-tcp) over at stackoverflow.com.

1. Root the device
2.
[code]

For security reasons, it's intended design that the device needs to be rooted. Hope this helps!

[2021-03-26 20:22] jpage4500 commented on #118
Hi @vidstige - thanks for the quick reply!

The answer I think you're mentioning is putting the device into wireless adb mode, right? I can do that today w/out root. I just have to type `adb tcpip 5555` on my laptop with a device connected via USB. From that point on, I can run `adb connect IP:5555` to connect to that device wirelessly and run normal adb commands.

What I'm wondering and I think i

[2021-05-27 08:46] vicasong opened #137 "Provide deterministic module name for Java 9 module support"
Please provide a deterministic module name by adding  `Automatic-Module-Name`  to the manifest.
See :
https://dzone.com/articles/automatic-module-name-calling-all-java-library-maintainers for a rationale.

And now I get an error: `Package 'se.vidstige.jadb' is declared in module with an invalid name ('jadb.v1.2.1')`

[2021-05-27 14:55] kikasik commented on #133
@alvaroguiradoASIR Any success in connecting android with android?

[2021-06-17 12:30] SodaSurfer opened #138 "iOS version for this library or similar"
hello

is there a Swift version of this library that works with swift iOS or some other swift implementation for ADB?

this works great with java from what I've tested and I'm wondering if there is also a Swift implementation for it.

thanks

[2021-06-28 09:40] janosvitok commented on #138
What exactly are you trying to achieve? This is a library to control _Android_ phones...

[2021-06-28 14:09] vidstige commented on #137
I didn't know about this, thanks for reporting. I'll look into it if/when I find some time. Feel free to add a pull request if you want to! :)

[2021-06-28 14:10] vidstige commented on #138
ADB stands for _Android_ Debug Bridge and is specific to Android devices. iOS devices can normally not be controlled using adb. Are you looking for a swift implementation to communicate with android devices? If so then, the answer is no - This is a java-library.

[2021-07-08 20:15] KingHabib opened #139 "RemoteFile.getPath() doesn't work as intended?"
I am using `JadbDevice.list("/sdcard/Test")` to save a list of RemoteDevices in a certain directory. For each of these RemoteDevices, I noticed that calling the `getPath()` method only returns the file name.

For example, I get `"TestFile.txt"` instead of `"/sdcard/Test/TestFile.txt"`. I am unsure if this is the intended result from the method. I am using v1.2.1 from the jitstack maven repo.

[2021-09-17 10:33] zhailingzy opened #144 "Do I need to manually close any connections or devices?"

[2021-09-23 03:52] hhhaiai commented on #138
@SodaSurfer  this?  https://libimobiledevice.org/

[2021-09-23 07:23] hhhaiai opened #145 "How does the server module work?"
How dose the server module (se.vidstige.jadb.server) work.

[2021-09-23 07:27] hhhaiai commented on #144
you mean: adb connect/adb disconnect?

[code]

[2021-09-23 07:33] hhhaiai commented on #125
I'm ok , use source

[2022-02-11 19:28] vidstige commented on #144
Please clarify your questions. In short you don't need (and can't) to close JadbDevice nor JadbConnections. They will create a new connection each time they are used currently. But that might change, if they implement AutoCloseable, use that, otherwwise not.

[2022-02-11 19:28] #144 closed

[2022-02-11 19:33] vidstige commented on #139
Yes, that's expected. Maybe a bit surprising, but the returned paths are to be considered relative to the argument.

[2022-02-11 19:33] #139 closed

[2022-02-11 19:36] vidstige commented on #145
Great question!

* There is a general `SocketServer` class that accepts connections and spawns new threads when tcp clients connect.
* There is a specific `AdbServer` and `AdbProtocolHandler` that implements the [adb protocol](https://android.googlesource.com/platform/system/core/+/dd7bc3319deb2b77c5d07a51b7d6cd7e11b5beb0/adb/OVERVIEW.TXT).
* There is a

[2022-02-11 19:37] #145 closed

[2022-02-12 19:54] vidstige commented on #125
Both should work with the latest master

[2022-02-15 02:31] adamoutler commented on #137
This affects my project as well.  I have forked and am maintaining jadb as a part of my Java11 codebase due to lack of module support.

[2022-02-15 02:33] adamoutler commented on #137
I did the work to do the whole upgrade to Java11 here, @vidstige .  I closed the PR because it seemed you were not interested.  You may use this as a reference. https://github.com/vidstige/jadb/pull/140

[2022-02-15 09:09] vidstige commented on #137
No, I just missed that PR. I don't check in regularly. There are lots of unrelated changes. Also for a _library_ like this it's good to not be on the latest and greatest (this is normally the best) as that prevents people from upgrading this library and so on. I don't know what a reasonable version to be on is. It would be interesting to have some statistics on how widely used Java 11 is.

[2022-05-04 15:23] edison245 opened #149 "screencap not pulling and working"
Sometimes the screencap is failing.
Sometimes the screencap result is not being pulled.

device.executeShell("screencap /sdcard/Pictures/abc.png");
device.pull(new RemoteFile("/sdcard/Pictures/abc.png"),new File("t.png"));

[2022-05-27 13:01] janosvitok commented on #138
I think we can close this as unrelated.

[2022-11-23 17:52] Ryanznoco opened #150 "Is it possible to support exec-out ?"
How can I implement exec-out, just like this ?
[code]